/* by class */
      .colorRed {
        color: red;
      }
      .colorYellow {
        color: yellow;
      }
      .bgBlack {
        background-color: black;
      }
      .bgGreen {
        background-color: green;
      }
      .p10 {
        padding: 10px;
      }
      .p20 {
        padding: 20px;
      }
      .m10 {
        margin: 10px;
      }
      .m20 {
        margin: 20px;
      }
      .bdr {
        border: 1px solid black;
      }
      .f14 {
        font-size: 14px;
      }
      .f20 {
        font-size: 20px;
      }
      .w200 {
        width: 200px;
      }
      .h200 {
        height: 200px;
      }

      /* by Id */
      #abc {
        border: 1px solid red;
        background-color: yellow;
        height: 200px;
        width: 200px;
      }

      /* by tag/element */
      b{
        font-size: 40px;
      }

      /* by reference  */
      div > b {
        font-size: 40px;
      }
      /* .bgGreen > b {
        font-size: 40px;
      } */
      /* #abc > b {
        font-size: 40px;
      } */

       div  b {
        font-size: 40px;
      }

      /* parallel css */
      div,p,#abc{
        margin: 20px;
        padding: 20px;
      }